/* change navigation style */
.navbar {
  overflow: hidden;
  background-color: #022c87	;
}

.navbar a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  font-size: 18px;
  color: white;
  padding: 18px 20px;
  text-decoration: none;
}
.navbar b {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: right;
  font-size: 24px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #870000;
}

/* body style affects whole page */
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: whitesmoke;
  margin: 0;
  background-image: url("/chessbackground.jpg");
  background-repeat: no-repeat;
  overflow: auto;
  background-size: auto;
}
/* Change footer style */
footer {
  position:absolute;
  bottom:0;
}

body {
  font-weight: 600;
}

h1 {
  margin-top: 20px;
  margin-left: 20px;
}

#quizForm {
  width: 60%;
  background: lightsteelblue;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
}

#quizTitle {
  margin-bottom: 10px;
}

#quizForm div .questionSection {
  margin-bottom: 40px;
}

#quizForm input[type="text"],
#quizForm input[type="number"],
#quizForm select {
  padding: 4px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#quizForm button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}