/* change navigation style */
.navbar {
    overflow: hidden;
    background-color: #022c87	;
  }
  
  .navbar a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    font-size: 18px;
    color: white;
    padding: 18px 20px;
    text-decoration: none;
  }
  .navbar b {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    font-size: 24px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #870000;
  }
  
  /* body style affects whole page */
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
    margin: 0;
    background-image: url("/chessbackground.jpg");
    background-repeat: no-repeat;
    overflow: auto;
    background-size: auto;
  }
  /* Change footer style */
  footer {
    position:absolute;
    bottom:0;
  }

  