#quizForm {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

#quizForm h1 {
  text-align: center;
  color: #022c87;
  font-size: 40px;
}

#quizForm input[type="text"] {
  width: 80%;
}

#quizForm input[type="number"] {
  width: 60px;
}

#quizTitle,
#quizDetails {
  margin-bottom: 20px;
}

#quizTitle label,
#quizDetails label {
  font-weight: bold;
}

#questionsContainer .question {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #022c87;
  border-radius: 5px;
}

#questionsContainer .question label {
  font-weight: bold;
}

button {
  background-color: #0b41b6;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

#deleteQuestionBtn {
  background-color: #b60b0b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

button:hover {
  background-color: #5c1818;
}

#quizLink {
  max-width: 800px;
  margin: 20px auto;
}

#quizLink a {
  color: #0b41b6;
  text-decoration: none;
}

#quizlink a:hover {
  text-decoration: underline;
}

.question {
  margin-bottom: 20px;
}
