:root {
  --text-color: #765742;
  --primary-color: #c6926e;
  --secondary-color: #c6926e;
}

.dark-mode {
  --text-color: #ffffff;
  --primary-color: #093384;
  --secondary-color: #000056;
}

#quizForm {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

#quizForm h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 40px;
}

h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 40px;
}

#quizForm input[type="text"] {
  width: 80%;
}

#quizForm input[type="number"] {
  width: 60px;
}

#quizTitle,
#quizDetails {
  margin-bottom: 20px;
}

#quizTitle label,
#quizDetails label {
  font-weight: bold;
}

#questionsContainer .question {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

#questionsContainer .question label {
  font-weight: bold;
}

#deleteQuestionButton {
  font-family: "Baskerville", serif;
  background-color: #b60b0b;
  color: white;
  padding: 8px 13px;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

#deleteQuestionButton:hover {
  background-color: #7f0707;
}

.question {
  margin-bottom: 20px;
}

.edit-message {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.edit-message a {
  color: var(--text-color);
  text-decoration: underline;
}

.edit-message a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.timer-red {
  color: red;
}

#timer-warning {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  padding: 10px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s step-start infinite;
}
