/* Position the button in the top right corner */
.create-course-button {
    position: absolute;
    top: 85px;
    right: 20px;
    background-color: #0b41b6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
}

.hidden {
    display: none;
}

#inputContainer {
    position: absolute;
    top: 130px; 
    right: 20px;
    width: 150px; 
    padding: 5px; 
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#inputContainer input {
    width: 100%; 
    padding: 5px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
